@font-face {
    font-family: 'Taraxacum';
    src: url('../fonts/Taraxacum.otf');
    font-weight: normal;
    font-style: normal;
}






body {
    padding: 0;
    margin: 0;
    font-family: Taraxacum;
}



.nav li a {
    font-size: 17px;
    color: #fff;
    text-decoration: none;
}

.nav li p {
    margin: 0;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
}


.nav_wrapper {
    background: url(../img/header3.jpg) no-repeat center top / cover;
}

.navbar {
    margin: 0 auto;
    text-align: center;
}

.logo:hover {
    -webkit-filter: brightness(0.8);
    filter: brightness(0.8);
}


footer {
    font-size: 30px;
    margin-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #75768f;
}

footer img {
    margin-top: 10px;
    height: 50px;
}

footer .nav .nav-item .nav-link {
    font-size: 30px;
    color: #000000;
}

.logo img {
    height: 200px;
}

#links {
    padding-top: 70px;
    font-size: 40px;
    color: #000000;
}

#links .links_title {
        font-size: 60px;
}

#links img:hover {
    -webkit-filter: brightness(0.7);
    filter: brightness(0.7);
}

#links p {
    text-align: center;
}



@font-face {
    font-family: 'Pages';
    src: url('../fonts/Pages.ttf');
    font-weight: normal;
    font-style: normal;
}

#contact {
    font-family: Pages;
    padding-top: 70px;
}

#contact .contact_title {
    font-size: 45px;
}

#contact .feedback_text {
    background-color: #BABABA;
}

#contact .feedback_text h2{
    color: #000000;
    padding: 5px;
    text-align: center;
 }

#contact .feedback_text h3 {
    color: #ffffff;
    padding: 10px;
    text-decoration: underline;
    text-align: center;
}

#contact .feedback_text p {
    color: #000000;
    padding: 5px;
    font-size: 20px;
    text-align: center;
}

#about {
    padding-top: 60px;
    font-family: Pages;
}

#about .about_title {
    font-size: 50px;
}

#about .about_text {
    font-size: 22px;
}

#about .about_text p {
    padding: 30px;
    text-align: justify;
}

#menu {
    padding-top: 60px;
    font-family: Pages;
}

#menu .menu_title {
    font-size: 40px;
}

#menuslider {
    max-width: 600px;
    margin: 20px auto;
    background: #aaa;
}

.button {
    background: #fff;
    background: rgba(255, 255, 255, 0.5);
    border: 3px solid #fff;
    color: #000000;
    border-radius: 6px;
    width: 300px;
    display: inline-block;
    padding: 5px 0;
    text-align: center;
    text-decoration: none;
    font-size: 35px;
 
}

.my-flex-container_buttons {
    display: flex;
    justify-content: space-between;
    width: 1100px;
    margin: 0 auto;
    margin-top: 30px;
}



.my-flex-container_drinks_description {
    justify-content: space-between;
    text-align: center;
    width: 1100px;
    margin: 0 auto;
    margin-top: 100px;
}

.my-flex-container_drinks_description p {
    font-size: 30px;
}

.my-flex-container_drinks {
    background-color: #75768f;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 1263px;
    margin: 0 auto;
    margin-top: 60px;
}

.my-flex-container_drinks img {
    margin-top: 10px;
    margin-left: 10px;
}

.my-flex-container_drinks p {
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
}

.my-flex-container_drinks .my-flex-block {
    background-color: #4349e8;
    width: 346px;
    height: 570px;
}


.my-flex-container_lunch_description {

    justify-content: space-between;
    text-align: center;
    width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
}

.my-flex-container_lunch_description p {
    font-size: 30px;
}

.my-flex-container_lunch_description h1 {
    margin: 0;
    font-size: 60px;
}

.my-flex-container_lunch {
    background-color: #75768f;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 1263px;
    margin: 0 auto;
    margin-top: 60px;
}

.my-flex-container_lunch img {
     margin-top: 10px;
     margin-left: 10px;
}

.my-flex-container_lunch p {
     font-size: 30px;
     text-align: center;
     margin: 0 auto;
}

.my-flex-container_lunch .my-flex-block {
    background-color: #4349e8;
    width: 346px;
    height: 525px;
}





.my-flex-container_deserts_description {
    justify-content: space-between;
    text-align: center;
    width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
}

.my-flex-container_deserts_description p {
    font-size: 30px;
}

.my-flex-container_deserts {
    background-color: #75768f;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 1263px;
    margin: 0 auto;
    margin-top: 60px;
}

.my-flex-container_deserts img {
    margin-top: 10px;
    margin-left: 10px;
}

.my-flex-container_deserts p {
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
}

.my-flex-container_deserts_description h1 {
    margin: 0;
    font-size: 60px;
}

.my-flex-container_deserts .my-flex-block {
    background-color: #4349e8;
    width: 346px;
    height: 525px;
}





#loginForm, #regform {
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
    padding-bottom: 20px;
    width: 50%;
    background-color: #75768f;
    border: 2px solid;
    border-radius: 20px;
}

#logintitle h4, #regtitle h4 {
    font-size: 55px;
    margin-bottom: 50px;
    text-align: center;
    padding-top: 50px;
}

#loginForm label, #regform label {
    font-size: 20px;
}

#loginForm .submit, #regform .submit {
    padding: 10px 20px;
    margin-top: 25px;
    border: 3px solid;
    border-radius: 10px;
    background-color: #75768f;
    font-size: 20px;
}

#regform .submit:hover {
    -webkit-filter: brightness(0.7);
    filter: brightness(0.7);
 }

#loginForm .submit:hover {
    -webkit-filter: brightness(0.7);
    filter: brightness(0.7);
}


#loginForm input[type=text], #loginForm input[type=password] {
    width: 100%;
    padding: 8px;
    border: 3px solid;
    border-radius: 8px;
    font-size: 20px;
    font-family: 'Times New Roman';
}

#regform input[type=text], #regform input[type=password] {
    width: 100%;
    padding: 8px;
    border: 3px solid;
    border-radius: 8px;
    font-size: 20px;
    font-family: 'Times New Roman';
}

#regform input[type=text]:hover {
    -webkit-filter: brightness(0.9);
    filter: brightness(0.9);
}

#regform input[type=password]:hover {
    -webkit-filter: brightness(0.9);
    -filter: brightness(0.9);
}

#loginForm input[type=text]:hover {
    -webkit-filter: brightness(0.9);
    filter: brightness(0.9);
}

#loginForm input[type=password]:hover {
    -webkit-filter: brightness(0.9);
    -filter: brightness(0.9);
}

.validation-summary-errors {
    color: red;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;

}


#blog {
    padding-top: 20px;
    
}

#blog h3 {
    text-align: center;
    font-size: 60px;
}

#blog .card {
    background-color: #444;
    margin: 15px auto;
    width: 40%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

#blog .card a {
    color: black;
}

#blog .card .card-title {
    font-size: 25px;
    margin: 0 auto;
    
}

#blog .card .card-text {
    font-size: 20px;
    padding: 10px;
    
}

#blog .card-footer {
    font-size: 15px;
 
}


#blogpost {
    color: black;
    margin: 0 auto;
    margin-top: 50px;
    padding-top: 40px;
    padding-bottom: 50px;
    text-align: center;
    width: 70%;
    background-color: #444;
    border: 2px solid;
    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;
}

#blogpost h3 {
    text-align: center;
    font-size: 40px;
}

#blogpost p {
    margin-top: 20px;
    font-size: 20px;
    padding: 10px 80px;
}


#blogpost .post_image {
     margin: 0 auto;
     margin-bottom: 30px;
}

#blogpost .post_image img {
    border-radius: 6px;
    border: 2px solid;
}





#comment_writing form {
    width: 100%;
    font-size: 20px;
    margin: 40px auto;
}

#comment_writing form textarea {
    font-size: 20px;
    resize: none;
    height: 200px;
    width: 100%;
    margin-top: 20px;
}

#comment_writing form .but button {
    color: white;
    font-size: 20px;
    background-color: #777;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 10px;
}



#comments .card {
    margin: 0 auto;
    width: 88%;
    margin-top: 20px;
    border-radius: 10px;
    
}

#comments .card-text {
    font-size: 20px;
}

.card-footer div {
    display: inline-block;
}

#comments .card-author {
    font-weight: bold;
    float: left;
}

#comments .card-date {
    font-weight: bold;
    float: right;
}


#comment_message {
    text-align: center;
    margin: 20px auto;
    font-size: 18px;

}

#comment_message a {
    color: red;

}








#new_post {
    color: white;
    margin: 0 auto;
    margin-top: 40px;
    padding-top: 30px;
    background-color: #444;
    border: 2px solid;
    border-radius: 20px;
    width: 70%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}


#new_post h3 {
    font-size: 50px;
}

#new_post form {
    width: 60%;
    font-size: 20px;
    margin: 30px auto;
}


#new_post form textarea, #new_post form input {
    font-size: 20px;
    resize: none;
    height: 180px;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    
}

#new_post form input {
    height: 40px;
}

#new_post form .but {
    width: 50%;
    margin: 0 auto;
    margin-top: 25px;
 }

#new_post form .but button {
    width: 100%;
    color: white;
    font-size: 30px;
    background-color: #777;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 10px;
}



#comment_writing form .but button {
    color: white;
    font-size: 20px;
    background-color: #777;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 10px;
}
