{% extends 'app/layout.html' %}
{% load staticfiles %}

{% block title %} Контакты {% endblock %}


{% block content %}

<section id="contact">
    <div class="container">

        <div class="row justify-content-center">
            <div class="contact_title">Свяжитесь с нами</div>
        </div>
        <div class="row mt-5 feedback">
            <div class="col-6 feedback_text">
                <h2 class="mt-4">Контакты:</h2>
                <h3 class="mt-3">Адрес:</h3>
                <p>г.Псков,Коммунальная улица,77</p>
                <h3 class="mt-3">Телефон:</h3>
                <p>+7(800)555-35-35</p>
                <h3 class="mt-3">E-mail:</h3>
                <p>Spadi07@mail.ru</p>
            </div>
            <div class="col-6">
                <div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/25/pskov/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Псков</a><a href="https://yandex.ru/maps/25/pskov/house/kommunalnaya_ulitsa_77/ZkEYdABkTUYPQFttfXRwdXVkYA==/?ll=28.274438%2C57.814974&utm_medium=mapframe&utm_source=maps&z=17.09" style="color:#eee;font-size:12px;position:absolute;top:14px;">Коммунальная улица, 77 — Яндекс.Карты</a><iframe src="https://yandex.ru/map-widget/v1/-/CCQbzDWpxB" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
            </div>
        </div>
    </div>
</section>



{% endblock %}
