<!DOCTYPE html>
<html land="en">
<head>
    <meta charset="UTF-8"/>
    <title>StockSneakers</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'app/content/site.css' %}">
</head>

<body>

    <header>
        <div class="container">
            <div class="heading clearfix">
            <img src="{% static 'app/img/logo.png' %}" width="150" height ="150" alt="StockSneakers" class="logo">
            
            <nav>
                <ul class="menu_bar">
                    <li>
                        <a href='{% url 'home' %}'>Главная</a>
                    </li>
                    <li>
                        <a href='{% url 'about' %}'>О нас</a>
                    </li>
                    <li>
                        <a href='{% url 'contact' %}'>Контакты</a>
                    </li>
                    <li>
                        <a href="{% url 'links' %}">Ресурсы</a>
                    </li>
                    <li>
                        <a href='{% url 'menu' %}'>Каталог</a>
                    </li>
                    <li>
                        <a href='{% url 'blog' %}'>Новости</a>
                    </li>


                    {% if user.is_superuser %}
                    <li>
                        <a href="{% url 'newpost' %}">Добавить новость</a>
                    </li>
                    {% endif %}

                    {% if not user.is_authenticated %}
                    <li>
                    <a href="{% url 'login' %}">Вход</a>
                    </li>
                    <li>
                    <a href="{% url 'registration' %}">Регистрация</a>
                    </li>
                    {% else %}
                    <li>
                    <p>Добро пожаловать, {{ user.username }}</p>
                    </li>
                    <li>
                    <a href="{% url 'logout' %}">Выход</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            </div>
            <div class="titles">
                <div class="first_t">
                    Stock Sneakers
                </div>
                <div class="second_t">
                    На шаг впереди
                </div>

            </div>
            <a class="button" style="font-size:30px" href="{% url 'about' %}">Узнай о нас больше</a>
        </div>
    </header>

    <section id="menu">
             <div class="container">
                 <div class="title">
            Каждый найдёт своё
         </div>

        <div class="my-flex-container_menu">   
              <div class="my-flex-block">
                  <a href="{% url 'summer' %}">
                  <img src="{% static 'app/img/leto.jpg'%}"  alt="leto"/>
                  </a>
                  <h4>Лето</h4>
              </div>
              <div class="my-flex-block">
                  <a href="{% url 'winter' %}">
                  <img src="{% static 'app/img/zima.jpg'%}"  alt="zima"/>
                  </a>
                  <h4>Зима</h4>
              </div>
              <div class="my-flex-block">
                  <a href="{% url 'off_season' %}">
                  <img src="{% static 'app/img/multi.jpg'%}"  alt="mezhsezon"/>
                  </a>
                  <h4>Межсезон</h4>
                  
              </div> 

        </div>

             </div>
        
    </section>

    <section id="about_us">
        <div class="container">
            <div class="title2">
                Лучшее качество
             </div>

              <div class="my-flex-container_about_us">   
              <div class="my-flex-block_about_us">
                  Предзаказы на новые коллекции. Будь первым, оставайся лучшим.
              </div>
              <div class="my-flex-block_about_us">
                  Огромный выбор. Доступные цены. Постоянно дополняющийся ассортимент.
              </div>

              </div>

            <div class="my-flex-container_about_us">
                <div class="my-flex-block_about_us">
                    Прямые поставки от официальных производителей. Гарантия качества.
                </div>
                <div class="my-flex-block_about_us">
                    Опертавная обработка заказов. Круглосуточная поддержка.
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="my-flex-container_footer">
            <div class="my-flex-block_footer" id="logo_footer">
                <a href="{% url 'home' %}"><img src="{% static 'app/img/logo.png' %}" width="200" height ="200" alt="StockSneakers" class="logo_footer"></a>
            </div>
     
            <div class="my-flex-block_footer" id="social_logo">
                <a href="https://vk.com/"><img src="{% static 'app/img/vk.png' %}" width="100" height ="100" alt="VKontakte" class="social"></a>
                <a href="https://www.instagram.com/"><img src="{% static 'app/img/inst.png' %}" width="100" height ="100" alt="Instagram" class="social"></a>
                <a href="https://tlgrm.ru/"><img src="{% static 'app/img/telega.png' %}" width="100" height ="100" alt="Telegram" class="social"></a>
                <a href="https://plus.google.com/"><img src="{% static 'app/img/google.png' %}" width="100" height ="100" alt="Googleplus" class="social"></a>
            </div>
        </div>
    </footer>


</body>


</html>