<!DOCTYPE html>
<html land="en">
<head>
    <meta charset="UTF-8"/>
    <title>Каталог обуви</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'app/content/product/bootstrap.css' %}">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="{% static 'app/content/menu.css' %}" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> 
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    
    <style type="text/css">
  body{
  background: #75768f;
}
        </style>
</head>

<body>

    <nav class="nav_wrapper">
        <ul class="nav nav_top justify-content-between navbar">
          <li class="nav-item">
            <a class="nav-link logo" href="{% url 'home' %}"><img src="{% static 'app/img/logo.png' %}" width="200" height ="200" alt="StockSneakers"/></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">О нас</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Контакты</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'links' %}">Ресурсы</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'menu' %}">Каталог</a>
          </li>


            {% if not request.get_full_path == '/menu' %}
          <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Категории</a>
                     
                    <div class="dropdown-menu">
                        
                        {% for category in categories %}
                        <a class="dropdown-item" style="color:black" href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                        {% endfor %}
                        
                    </div>
                    
          </li>
                {% endif %}


 
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog' %}">Новости</a>
          </li>

          {% if user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'newpost' %}">Добавить новость</a>
          </li>
          {% endif %}


          

          {% if not user.is_authenticated %}
          <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Вход</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="{% url 'registration' %}">Регистрация</a>
          </li>
          {% else %}
          <li>
          <p>Добро пожаловать, {{ user.username }}</p>
          </li>
          <li>
          <a class="nav-link" href="{% url 'client_orders' %}">Мои заказы</a>
          </li>
           {% if 'Manager' in user.groups.all.0.name %}
          <li>
          <a class="nav-link" href="{% url 'manager_orders' %}">Все заказы</a>
          </li>
          <li>
          <a class="nav-link" href="{% url 'logout' %}">Выход</a>
          </li>
          {% endif %}

          {% endif %}
           <li class="nav-item">
               <a class="nav-link" href="{% url 'cart' %}">Корзина <span class="badge" id="cart_count">{{ cart.items.count }}</span></a>
           </li>

        </ul>
      </nav>




    <!-- Page Content -->
    <div class="container">
        {% block content %}
        <div class="row" id="content">

            <div class="col-md-2">
                <p class="lead" id="name"><strong>Каталог "StockSneakers"</strong></p>
                <div class="list-group" id="filter">
                    {% for сategory in categories %}
                    <a href="{{ сategory.get_absolute_url }}" class="list-group-item">{{ сategory.name }}</a>
                    {% endfor %}
                </div>
            </div>

            <div>
                <img src="{% static 'app/img/footer.jpg'%}" width="934px" height ="400px" alt="Кроссовки"/>
            </div>




                <div class="drinks">
                    
                     {% for product in products %}
                        <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="{{ product.image.url }}" style="width:100%; height:100%">
                            <div class="caption">
                                <h4 class="pull-right">{{ product.price }} руб.</h4>
                                <h4><a href="{{ product.get_absolute_url }}"> {{ product.title }}</a>
                                </h4>
                                <p></p>
                                <a href='#' class='add_to_cart' data-slug='{{ product.slug }}'><button class="btn btn-danger">Добавить в корзину</button></a>
                            </div>

                        
                        </div>
                        </div>
                    {% endfor %}
                    </div>
                    
                    </div>



    {% endblock content %}
    </div>

            

        




    <script type="text/javascript" src="{% static 'app/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/bootstrap.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('.add_to_cart').on('click', function (e){
                e.preventDefault()
                product_slug = $(this).attr('data-slug')
                data = {
                    product_slug: product_slug
                }
                $.ajax({
                    type: "GET",
                    url: '{% url "add_to_cart" %}',
                    data: data,
                    success: function (data) {
                        $("#cart_count").html(data.cart_total)
                    }
                })
            })
        })
    </script>




</body>
 


</html>