<!DOCTYPE html>
<html land="en">
<head>
    <meta charset="UTF-8"/>
    <title>Летняя обувь</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'app/content/sitelayout.css' %}">
        <style type="text/css">
  body{
  background: #75768f;
}
        </style>
</head>

<body>
        <div class="my-flex-container_buttons">   
              <div class="my-flex-block">
                  <a class="button" href="{% url 'off_season' %}">&lt; Межсезонка</a>
              </div>

              <div class="my-flex-block">
                  <a class="button" href="{% url 'home' %}">На главную</a>
  
              </div>

              <div class="my-flex-block">
                  <a class="button" href="{% url 'winter' %}">Зимняя обувь &gt;</a>
              </div> 
        </div>
        <hr/>

        <div class="my-flex-container_lunch_description">
            <h1>Летние хиты</h1>
            <div>
                <p>Главные новинки и тренды этого лета! Удивляй, выделяйся, побеждай!.</p>
            </div>
            
            <div>
                <img src="{% static 'app/img/menu/leto/letohead.jpg'%}"  width="600" alt="leto"/>
            </div>

            <div>
                <p>
                    Только самое высшее качество, комфорт и надёжность. Выбери свой стиль на каждый день и наслаждайся каждым шагом. Песчаный пляж или раскалённый асфальт - не важно, ведь ты готов к любому повороту событий!
                </p>
            </div>
        </div>
        <hr/>


        <div class="my-flex-container_lunch">
              <div class="my-flex-block">
                  <img src="{% static 'app/img/menu/leto/Gvard.jpg'%}"  width="326" height="414"/>
                  <p>
                  Gvard <br />
                      <br/>
                  4799 р
                  </p>
              </div>

              <div class="my-flex-block">
                  <img src="{% static 'app/img/menu/leto/Stellar.jpg'%}"   width="326" height="414"/>
                  <p>
                  Stellar<br/>
                      <br/>
                  2199 р
                  </p>
              </div>
              <div class="my-flex-block">
                  <img src="{% static 'app/img/menu/leto/Bershka.jpg'%}"   width="326" height="414"/>
                  <p>Bershka <br/>
                  <br/>
                  2999 р
                  </p>
              </div> 
        </div>